{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% load cms_tags %}
{% block content %}
{% block "html_headers" %}
   <title>{% block title %}{% page_attribute page_title %}{% endblock %}</title>
{% endblock %}
    <section class="section-50 section-sm-top-90 section-sm-bottom-100">
          <div class="shell">
            <div class="range range-xs-center">                               
                  <blockquote class="quote-default quote-default-left offset-bottom-25">
                    <div class="quote-body">
                      <div class="unit unit-xs-horizontal unit-xs-top unit-spacing-sm">
                        <div class="unit-left">
                          <svg x="0px" y="0px" width="37px" height="27px" viewbox="0 0 37 27">
                            <path d="M16.916,18.73c0,2.351-0.833,4.319-2.499,5.901C12.754,26.208,10.786,27,8.516,27  c-2.268,0-4.255-0.792-5.96-2.369c-1.703-1.582-2.552-3.477-2.552-5.679c0-2.208,1.022-4.891,3.064-8.054L9.879-0.018h6.585  l-4.202,11.471C15.365,12.847,16.916,15.275,16.916,18.73z M36.99,18.73c0,2.351-0.833,4.319-2.499,5.901  C32.828,26.208,30.86,27,28.588,27c-2.269,0-4.256-0.792-5.959-2.369c-1.702-1.582-2.555-3.477-2.555-5.679  c0-2.208,1.025-4.891,3.066-8.054l6.813-10.916h6.581l-4.197,11.471C35.437,12.847,36.99,15.275,36.99,18.73z"></path>
                          </svg>
                        </div>
                        <div class="unit-body">
                          <p>
                            <q>Od kilkunastu lat współpracujemy z najbardziej znaczącymi dystrybutorami i hurtowaniami gastronomicznymi w kraju. Dzięki tak długoletniej, partnerskiej relacji wypracowaliśmy wspólnie bardzo korzystne warunki handlowe i cenowe dla Odbiorcy
                            finalnego, czyli Właścicieli, Menagerów punktów gastronomicznych. W przypadku zainteresowania zakupem naszych produktów
                            pomagamy przy nawiązaniu współpracy z najbardziej odpowiednim dystrybutorem, który dzięki swojej wiedzy o naszym asortymencie
                            oraz o rozbudowanych możliwościach logistycznych zaproponuje już bezpośrednio z Państwem najbardziej korzystne warunki
                            współpracy.</q>
                          </p>
                        </div>
                      </div>
                    </div>                    
                  </blockquote>
              <div class="cell-sm-6 cell-md-4">
                <!-- Blockquote default-->
                <blockquote class="quote-modern">
                  <div class="quote-header divider-custom">
                    <div><img src="{% static "images/users/user-07-104x104.jpg" %}" alt="" width="104" height="104" class="img-circle"/>
                    </div>
                  </div>
                  <div class="quote-body">
                    <h6>Jumar</h6>
                    <p>
                      <q>ul. Lipowa 16, 11-010 Łęgajny<br> woj. Warmińsko-mazurskie</q>
                    </p>
                  </div>
                  <div class="quote-footer">
                    <cite>tel.: (89) 514 44 51</cite>
                  </div>
                </blockquote>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0">
                <!-- Blockquote default-->
                <blockquote class="quote-modern">
                  <div class="quote-header divider-custom">
                    <div><img src="{% static "images/users/user-08-104x104.jpg" %}" alt="" width="104" height="104" class="img-circle"/>
                    </div>
                  </div>
                  <div class="quote-body">
                    <h6>Jumar</h6>
                    <p>
                      <q>ul. Lipowa 16, 11-010 Łęgajny<br> woj. Warmińsko-mazurskie</q>
                    </p>
                  </div>
                  <div class="quote-footer">
                    <cite>tel.: (89) 514 44 51</cite>
                  </div>
                </blockquote>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0">
                <!-- Blockquote default-->
                <blockquote class="quote-modern">
                  <div class="quote-header divider-custom">
                    <div><img src="{% static "images/users/user-09-104x104.jpg" %}" alt="" width="104" height="104" class="img-circle"/>
                    </div>
                  </div>
                  <div class="quote-body">
                    <h6>Jumar</h6>
                    <p>
                      <q>ul. Lipowa 16, 11-010 Łęgajny<br> woj. Warmińsko-mazurskie</q>
                    </p>
                  </div>
                  <div class="quote-footer">
                    <cite>tel.: (89) 514 44 51</cite>
                  </div>
                </blockquote>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-30">
                <!-- Blockquote default-->
                <blockquote class="quote-modern">
                  <div class="quote-header divider-custom">
                    <div><img src="{% static "images/users/user-10-104x104.jpg" %}" alt="" width="104" height="104" class="img-circle"/>
                    </div>
                  </div>
                  <div class="quote-body">
                    <h6>Jumar</h6>
                    <p>
                      <q>ul. Lipowa 16, 11-010 Łęgajny<br> woj. Warmińsko-mazurskie</q>
                    </p>
                  </div>
                  <div class="quote-footer">
                    <cite>tel.: (89) 514 44 51</cite>
                  </div>
                </blockquote>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-30">
                <!-- Blockquote default-->
                <blockquote class="quote-modern">
                  <div class="quote-header divider-custom">
                    <div><img src="{% static "images/users/user-11-104x104.jpg" %}" alt="" width="104" height="104" class="img-circle"/>
                    </div>
                  </div>
                  <div class="quote-body">
                    <h6>Jumar</h6>
                    <p>
                      <q>ul. Lipowa 16, 11-010 Łęgajny<br> woj. Warmińsko-mazurskie</q>
                    </p>
                  </div>
                  <div class="quote-footer">
                    <cite>tel.: (89) 514 44 51</cite>
                  </div>
                </blockquote>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-30">
                <!-- Blockquote default-->
                <blockquote class="quote-modern">
                  <div class="quote-header divider-custom">
                    <div><img src="{% static "images/users/user-12-104x104.jpg" %}" alt="" width="104" height="104" class="img-circle"/>
                    </div>
                  </div>
                  <div class="quote-body">
                    <h6>Jumar</h6>
                    <p>
                      <q>ul. Lipowa 16, 11-010 Łęgajny<br> woj. Warmińsko-mazurskie</q>
                    </p>
                  </div>
                  <div class="quote-footer">
                    <cite>tel.: (89) 514 44 51</cite>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </section>
        <section>
          <!-- RD Google Map-->
          <div data-zoom="15" data-y="52.333766" data-x="16.405098" data-styles="" class="rd-google-map rd-google-map__model">
            <ul class="map_locations">
              <li data-y="52.333766" data-x="16.405098">
                <p>
                  <span class="icon">
                    <img src="{% static "/images/gmap-24x34.png" %}" alt="" width="24" height="34"/>
                  </span>
                  267 Park Avenue New York, NY 90210
                </p>
              </li>
              <li data-y="53.333766" data-x="17.410098">
                <p>
                  <span class="icon">
                    <img src="{% static "images/gmap-24x34.png" %}" alt="" width="24" height="34"/>
                  </span>
                  267 Park Avenue New York, NY 90210
                </p>
              </li>
            </ul>
          </div>
        </section> 
{% endblock content %}  