{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% load cms_tags %}
{% block content %} 
{% load i18n %}       
        <section class="section-top-50 section-sm-top-100 ">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-sm-7 cell-md-6   offset-bottom-25">
                <div class="img-thumbnail-custom"><img src="{% static "images/member-profile-01-569x656.jpg" %}" alt="" width="569" height="656" class="img-responsive"/>
                  <div class="caption">
                    <div class="group-lg">                       
                      <p style="color:#fff;">{% trans "JAKOŚĆ NASZYCH PRODUKTÓW POTWIERDZAJĄ UZYSKANE NAGRODY I CERTYFIKATY" %}</p>
                    </div>
                  </div>
                </div>
                <div style="text-align: left; padding:10px;">
                <h4 class="font-default">{% trans "Nagrody" %}</h4>
                	<ul>
                		<li style="padding:10px;">&quot;{% trans "Product of the year" %}&quot; (1997) - {% trans "Pieczywo czosnkowe - nagroda przyznana przez PepsiCo Restaurants" %}</li>
                		<li style="padding:10px;">&quot;{% trans "Dobre bo polskie" %}&quot; (2002) - {% trans "Grzanki czosnkowe - certyfikat przyznany przez Wielkopolską Fundację Żywnościową" %}</li>
                		<li style="padding:10px;">&quot;{% trans "Dobre bo polskie" %}&quot; {% trans "oraz wyróżnienie" %} &quot;Hipolit&quot; ( 2003) - {% trans "grupa produktów- żywność wygodna- Certyfikat przyznany przez Wielkopolską Fundację Żywnościową" %}</li>
                		<li style="padding:10px;">&quot;Alimentorum Fabricator Optimus&quot; -&quot; {% trans "Wzorowy Producent Żywności" %}&quot; (2004) - {% trans "wyróżnienie przyznane przez Korporację Producentów Żywności - Klub Promocji Jakości" %}</li>
                		<li style="padding:10px;">&quot;{% trans "Nagroda Ministra Gospodarki"%}&quot; (2007)- {% trans "Grzanki czosnkowe - Nagroda Ministra Gospodarki w kategorii Żywność - Targi EuroGastro Warszawa" %}</li>
                	</ul>
                </div>
              </div>
              <div class="cell-sm-7 cell-md-6 text-sm-left offset-sm-top-30 offset-md-top-0   offset-bottom-25">
                <div class="inset-lg-left-70">
                  <div class="reveal-xs-flex range-xs-justify range-xs-middle">
                    <h4 class="font-default">{% trans "Polityka jakości" %}</h4>                    
                  </div>                  
                  <p class="offset-top-20">{% blocktrans %} Nasza polityka jakości i bezpieczeństwa żywności polega na wytwarzaniu i dostarczaniu produktów zgodnie
                    z oczekiwaniami Klientów. Staramy się, aby produkowane przez nas wyroby były bezpieczne i zgodne z
                    przepisami prawa żywnościowego. Jakość stanowi dla nas czynnik decydujący o sukcesie, dalszym rozwoju i
                    pozycji na rynku. Jesteśmy przekonani, że odpowiedzialność za wywiązywanie się ze zobowiązań
                    dotyczących jakości spoczywa na każdym pracowniku, dlatego dążymy do podnoszenie świadomości załogi
                    i motywujemy do dążenia do doskonałości.{% endblocktrans %}</p>
                  <div class="offset-top-30">
                    <!-- Blockquote default-->
                    <blockquote class="quote-default quote-default-left">
                      <div class="quote-body">
                        <div class="unit unit-xs-horizontal unit-xs-top unit-spacing-sm">
                          <div class="unit-left">
                            <svg x="0px" y="0px" width="37px" height="27px" viewbox="0 0 37 27">
                              <path d="M16.916,18.73c0,2.351-0.833,4.319-2.499,5.901C12.754,26.208,10.786,27,8.516,27  c-2.268,0-4.255-0.792-5.96-2.369c-1.703-1.582-2.552-3.477-2.552-5.679c0-2.208,1.022-4.891,3.064-8.054L9.879-0.018h6.585  l-4.202,11.471C15.365,12.847,16.916,15.275,16.916,18.73z M36.99,18.73c0,2.351-0.833,4.319-2.499,5.901  C32.828,26.208,30.86,27,28.588,27c-2.269,0-4.256-0.792-5.959-2.369c-1.702-1.582-2.555-3.477-2.555-5.679  c0-2.208,1.025-4.891,3.066-8.054l6.813-10.916h6.581l-4.197,11.471C35.437,12.847,36.99,15.275,36.99,18.73z"></path>
                            </svg>
                          </div>
                          <div class="unit-body">
                            <p class="h5 text-light">
                              <q> {% trans "Gwarantujemy, że nasze produkty pomyślnie przeszły specjalistyczne testy i inspekcje, są bezpieczne dla konsumentów i najwyższej jakości." %}</q>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="quote-footer">
                        <cite></cite>
                      </div>
                    </blockquote>                    
                  </div>
                  <!-- PhotoSwipe-->
                  	<div>
                  		<h4 class="font-default">{% trans "Certyfikaty" %}</h4>
		                	<ul>
		                		<li style="padding:10px;">IFS – Certyfika International Food Standard (2008) – {% trans "Międzynarowody certyfikat jakości – TUV CERT – TUV Saarland" %}</li>
		                		<li style="padding:10px;">BRC - British Retail Consortium&quot; (2009) - {% trans "Międzynarodowy certyfikat jakości - TUV CERT - TUV Saarland" %}</li>		                			
                        <li style="padding:10px;">BRC – British Retail Consortium (2018)</li>	
                        <li style="padding:10px;">"Certyfikat {% trans "Rzetelna Firma" %}" (2014) - {% trans "certyfikat rzetelnego i wiarygodnego Kontrahenta" %}</li>                		
		                	</ul>
                	</div>
                  <div class="range range-xs-center gallery-wrap offset-top-20">
                    <div class="cell-xs-6 cell-sm-4">
                    		<img width="105" height="150" src="{% static "images/certifikate-1.jpg" %}" alt="" class="img-responsive">
                    </div>
                    <div class="cell-xs-6 cell-sm-4">
                    		<img width="105" height="150" src="{% static "images/agent-2.jpg" %}" alt="" class="img-responsive">
                    </div>
                    <div class="cell-xs-6 cell-sm-4 offset-top-20 offset-sm-top-0">                    		
                    		<img width="105" height="150" src="{% static "images/certifikate-3.jpg" %}" alt="" class="img-responsive">
                    </div>                                        
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </section>
        <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}  