
{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% load cms_tags %}
{% block content %}
{% load i18n %} 
  <!-- Icon List-->
<section class="bg-white section-50 section-md-80">
  <div class="shell">  
    <div class="range range-xs-center">
      <div class="cell-sm-6 cell-md-4">
      <!-- Box icon-->
        <article class="box-icon">
          <div class="icon-wrap"><span class="icon icon-lg text-base fa-thumbs-up"></span></div>
            <div class="box-icon-header">
              <h5>{% trans "Innowacyjność" %}</h5>
            </div>
              <hr class="divider-xs bg-primary">
              <p>{% blocktrans %} Jesteśmy twórcą produktu "Iglo&nbsp;drops"&nbsp;-&nbsp;sosy porcjowane. To z naszej firmy wychodzą najciekawsze pomysły.{% endblocktrans %}</p>
        </article>
      </div>
      <div class="cell-sm-6 cell-md-4 offset-top-50 offset-sm-top-0">
        <!-- Box icon-->
        <article class="box-icon">
          <div class="icon-wrap"><span class="icon icon-lg text-base fa-group"></span></div>
            <div class="box-icon-header">
              <h5> {% trans "Reputacja" %}</h5>
            </div>
            <hr class="divider-xs bg-primary">
            <p>{% trans "Jesteśmy liderami w swojej branży. Staramy się by nasze produkty były wyjątkowe." %}</p>
        </article>
      </div>
      <div class="cell-sm-6 cell-md-4 offset-top-50 offset-md-top-0">
        <!-- Box icon-->
        <article class="box-icon">
          <div class="icon-wrap"><span class="icon icon-lg text-base fa-lock"></span></div>
            <div class="box-icon-header">
              <h5>{% trans "Poufność" %}</h5>
            </div>
            <hr class="divider-xs bg-primary">
            <p>{% blocktrans %}Kiedy klient wymaga od nas dotrzymania tajemnicy receptury, stajemy na wysokości zadania. Cechuje nas duża dbałość o bezpieczeństwo i poufność.{% endblocktrans %}</p>
        </article>
      </div>
    </div>
  </div>
</section>
    <section class="section-top-50 section-sm-top-100 ">
      <div class="shell">
      <hr / style="padding-bottom:10px;">      
        <div class="range range-xs-center">
          <div class="cell-sm-7 cell-md-6   offset-bottom-25">
            <div class="img-thumbnail-custom">{% placeholder "NPD foto" %}                 
            </div>                
          </div>
          <div class="cell-sm-7 cell-md-6 text-sm-left offset-sm-top-30 offset-md-top-0   offset-bottom-25">
            <div class="inset-lg-left-70">
              <div class="reveal-xs-flex range-xs-justify range-xs-middle">
                  {% placeholder "NPD tytul" %}                   
              </div>                  
                <div class="offset-top-20 quote-default" >
                    {% placeholder "NPD Tekst" %}
                </div>                   
            </div>
          </div>
        </div>
        <hr / style="padding-bottom:10px;">        
        <div class="range range-xs-center">
          <div class="cell-sm-7 cell-md-6   offset-bottom-25">
            <div class="img-thumbnail-custom">{% placeholder "Produkcja dedykowana foto" %}                 
            </div>                
          </div>
          <div class="cell-sm-7 cell-md-6 text-sm-left offset-sm-top-30 offset-md-top-0   offset-bottom-25">
            <div class="inset-lg-left-70">
              <div class="reveal-xs-flex range-xs-justify range-xs-middle">
                  {% placeholder "Produkcja dedykowana tytul" %}                   
              </div>                  
                <div class="offset-top-20 quote-default"> 
                    {% placeholder "Produkcja dedykowana Tekst" %} 
                </div>                   
            </div>
          </div>
        </div>        
        <hr / style="padding-bottom:10px;">        
        <div class="range range-xs-center">
          <div class="cell-sm-7 cell-md-6   offset-bottom-25">
            <div class="img-thumbnail-custom">{% placeholder "Zaplecze produkcyjne foto" %}                 
            </div>                
          </div>
          <div class="cell-sm-7 cell-md-6 text-sm-left offset-sm-top-30 offset-md-top-0   offset-bottom-25">
            <div class="inset-lg-left-70">
              <div class="reveal-xs-flex range-xs-justify range-xs-middle">
                  {% placeholder "Zaplecze produkcyjne tytul" %}                   
              </div>                  
                <div class="offset-top-20 quote-default" >
                    {% placeholder "Zaplecze produkcyjne Tekst" %}
                </div>                   
            </div>
          </div>
        </div>
      </div>          
    </section>
{% endblock content %}      