{% extends "base.html" %}
{% load cms_tags filters%}

{% block content %}

 <section>
  <div class="shell">
    <div class="range">
    <div class="cell-md-12 offset-top-40">
      <h4 class="font-default text-center releway">AKTUALNOŚCI</h4>
    </div>
        
    <div class="offset-top-40">
      <!-- Blockquote default-->
      <blockquote class="quote-default quote-default-left text-center">
        <div class="quote-body">
          <div class="unit unit-xs-horizontal unit-xs-top unit-spacing-sm">
            <div class="unit-left">
              <svg x="0px" y="0px" width="37px" height="27px" viewbox="0 0 37 27">
                <path d="M16.916,18.73c0,2.351-0.833,4.319-2.499,5.901C12.754,26.208,10.786,27,8.516,27  c-2.268,0-4.255-0.792-5.96-2.369c-1.703-1.582-2.552-3.477-2.552-5.679c0-2.208,1.022-4.891,3.064-8.054L9.879-0.018h6.585  l-4.202,11.471C15.365,12.847,16.916,15.275,16.916,18.73z M36.99,18.73c0,2.351-0.833,4.319-2.499,5.901  C32.828,26.208,30.86,27,28.588,27c-2.269,0-4.256-0.792-5.959-2.369c-1.702-1.582-2.555-3.477-2.555-5.679  c0-2.208,1.025-4.891,3.066-8.054l6.813-10.916h6.581l-4.197,11.471C35.437,12.847,36.99,15.275,36.99,18.73z"></path>
              </svg>
            </div>
            <div class="unit-body">
              <p class="h5 text-light">
                <q>Jesteśmy innowacyjni i zmieniamy się dla Was. Śledź nasze działania i najnowsze wydarzenia.</q>
              </p>
            </div>
          </div>
        </div>
        <div class="quote-footer">
          <cite></cite>
        </div>
      </blockquote>
    </div>
    
      <div class="cell-md-4">
      {% for news in object_list reversed %} 
      {% ifequal forloop.counter0|modulo:3 0 %}      
          <div class="offset-top-30 offset-bottom-25">
          <!-- Post Modern-->
            <article class="post post-modern">
            <!-- Post media-->
            {% if news.image %}
            <header class="post-media"><img width="570" height="321" src="{{ news.image.url }}" alt="" class="img-responsive img-cover">
            </header>
            {% endif%}
            <!-- Post content-->
            <section class="post-content text-left">
            <div class="post-meta pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary-lighter"></span>
              <time datetime="2016-01-01" class="text-italic text-middle"> {{ news.pub_date|date }}</time>
            </div>
                <ul class="list-inline offset-top-14 offset-sm-top-0">
                  <li>
                    <div class="post-tags group-xs"><a href="{{news.slug}}" class="label-custom label-sm-custom label-rounded-custom label-primary text-normal">Czytaj więcej</a>
                    </div>
                  </li>                                  
                  </ul>
                  <!-- Post Title-->
                  <div class="post-title">
                    <h6 class="offset-top-25"><a href="{{news.slug}}" class="link-default">{{ news.title_pl }}</a></h6>
                  </div>
                  <!-- Post Body-->
                  <div class="post-body offset-top-20">
                    <p>{{news.tip_pl}}</p>
                  </div>
              </section>
            </article>
        </div>
        {% endifequal %}
        {% endfor %}        
      </div>
      
      <div class="cell-md-4">
      {% for news in object_list reversed %}
      {% ifequal forloop.counter0|modulo:3 1 %}
          <div class="offset-top-30 offset-bottom-25">
          <!-- Post Modern-->
            <article class="post post-modern">
            <!-- Post media-->
            {% if news.image %}
            <header class="post-media"><img width="570" height="321" src="{{ news.image.url }}" alt="" class="img-responsive img-cover">
            </header>
            {% endif%}
            <!-- Post content-->
            <section class="post-content text-left">
            <div class="post-meta pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary-lighter"></span>
              <time datetime="2016-01-01" class="text-italic text-middle">{{ news.pub_date|date }}</time>
            </div>
                <ul class="list-inline offset-top-14 offset-sm-top-0">
                  <li>
                    <div class="post-tags group-xs"><a href="{{news.slug}}" class="label-custom label-sm-custom label-rounded-custom label-primary text-normal">Czytaj więcej</a>
                    </div>
                  </li>                                  
                  </ul>
                  <!-- Post Title-->
                  <div class="post-title">
                    <h6 class="offset-top-25"><a href="{{news.slug}}" class="link-default">{{ news.title_pl }}</a></h6>
                  </div>
                  <!-- Post Body-->
                  <div class="post-body offset-top-20">
                    <p>{{news.tip_pl}}</p>
                  </div>
              </section>
            </article>
        </div>
        {% endifequal %}
        {% endfor %}        
      </div> 
      
      <div class="cell-md-4">
      {% for news in object_list reversed %}
      {% ifequal forloop.counter0|modulo:3 2 %}
          <div class="offset-top-30 offset-bottom-25">
          <!-- Post Modern-->
            <article class="post post-modern">
            <!-- Post media-->
            {% if news.image %}
            <header class="post-media"><img width="570" height="321" src="{{ news.image.url }}" alt="" class="img-responsive img-cover">
            </header>
            {% endif%}
            <!-- Post content-->
            <section class="post-content text-left">
            <div class="post-meta pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary-lighter"></span>
              <time datetime="2016-01-01" class="text-italic text-middle">{{ news.pub_date|date }}</time>
            </div>
                <ul class="list-inline offset-top-14 offset-sm-top-0">
                  <li>
                    <div class="post-tags group-xs"><a href="{{news.slug}}" class="label-custom label-sm-custom label-rounded-custom label-primary text-normal">Czytaj więcej</a>
                    </div>
                  </li>                                  
                  </ul>
                  <!-- Post Title-->
                  <div class="post-title">
                    <h6 class="offset-top-25"><a href="{{news.slug}}" class="link-default">{{ news.title_pl }}</a></h6>
                  </div>
                  <!-- Post Body-->
                  <div class="post-body offset-top-20">
                    <p>{{news.tip_pl}}</p>
                  </div>
              </section>
            </article>
        </div>
        {% endifequal %}
        {% endfor %}        
      </div>
      
                           
    </div>                    
  </div>
</section>  
{% endblock content %}
