{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

 <section>
  <div class="shell">
    <div class="range">
    {% for news in object_list %}
      <div class="cell-md-4">        
          <div class="offset-top-30 offset-bottom-25">
          <!-- Post Modern-->
            <article class="post post-modern">
            <!-- Post media-->
            {% if news.image %}
            <header class="post-media"><img width="570" height="321" src="{{ news.image.url }}" alt="" class="img-responsive img-cover">
            </header>
            {% endif%}
            <!-- Post content-->
            <section class="post-content text-left">
            <div class="post-meta pull-sm-right"><span class="text-middle icon-xxs mdi mdi-clock text-primary-lighter"></span>
              <time datetime="2016-01-01" class="text-italic text-middle">{{ news.pub_date|date }}</time>
            </div>
                <ul class="list-inline offset-top-14 offset-sm-top-0">
                  <li>
                    <div class="post-tags group-xs"><a href="{{news.slug}}" class="label-custom label-sm-custom label-rounded-custom label-primary text-normal">Czytaj więcej</a>
                    </div>
                  </li>                                  
                  </ul>
                  <!-- Post Title-->
                  <div class="post-title">
                    <h6 class="offset-top-25"><a href="{{news.slug}}" class="link-default">{{ news.title_pl }}</a></h6>
                  </div>
                  <!-- Post Body-->
                  <div class="post-body offset-top-20">
                    <p>{{news.tip_pl}}</p>
                  </div>
              </section>
            </article>
        </div>        
      </div> 
      {% endfor %}                     
    </div>                    
  </div>
</section>               

















{% comment %}
<!-- Section Blog Grid 2 Columns-->
<section class="section-50 section-sm-100">
    <div class="shell">
        <div class="range range-sm-center">
            <div class="col-sm-10 col-md-8 col-lg-12">
            <h3 class="text-center">Aktualności</h3>
                <div class="range">                
                {% for news in object_list %}
                    <div class="cell-lg-6 offset-top-30">
                        <!-- Post Boxed-->
                        <div class="reveal-block">
                              <div class="post post-boxed">
                                <!-- Post media-->
                                <header class="post-media"><img style="width:570px;height:321px;" width="570" height="321" src="{{ news.image.url }}" alt="" class="img-responsive"></header>
                                <!-- Post content-->
                                <section class="post-content text-left">
                                  	<div class="post-tags group-xs"><a href="{{news.slug}}" class="label-custom label-lg-custom label-primary">{{ news.title_pl }}</a>
                                  	</div>
                                  	<div class="post-body">
                                    <!-- Post Title-->
                                    	<div class="post-title">
                                      		<h5><a href="{{news.slug}}" class="link link-default link-white-sm">{{news.tip_pl}}</a></h5>
                                    	</div>
                                    	<div class="post-meta">
                                      		<ul class="list-inline list-inline-sm p">                                        		
                                        			<li><span class="text-middle icon-xxs mdi mdi-clock"></span>
                                          			<time datetime="2016-01-01" class="text-middle text-primary-lighter">{{ news.pub_date|date }}</time>
                                        		</li>
                                      		</ul>
                                    	</div>
                                	</div>
                                </section>
                            </div>
                        </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endcomment %}
{% endblock content %}
