{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% load i18n %}
<section class="section-50 section-sm-top-50 section-sm-bottom-100 bg-image-6">
          <div class="shell-wide isotope-wrap">
            <h4 class=" releway rel-700 offset-top-25">{% trans "Produkty" %}</h4>
            <div class="range range-sm-center">              
              <div class="cell-xs-12 offset-top-40">
                <!-- Isotope Content-->
                <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="row isotope isotope-menu isotope-menu-offsets">
                 {% for singleproduct in random %} 
	                  <div data-filter="Breakfast" class="col-xs-12 col-sm-6 isotope-item">
	                    <div class="thumbnail-menu-modern thumbnail-menu-modern-horizontal">
	                      <div class="unit unit-lg-horizontal unit-spacing-sm unit-middle">
	                        <div class="unit-left">
	                          <figure><img src="/media/{{singleproduct.product_mini_file}}" alt="" width="259" height="194" / style="width: 259px;">
	                          </figure>
	                        </div>
	                        <div class="unit-body">
	                          <div class="caption text-left">
	                            <h5>
	                            	{% if LANGUAGE_CODE == 'pl' %}
                                      {{singleproduct.name_pl}}
                                    {% elif LANGUAGE_CODE == 'en' %}
                                      {{singleproduct.name_en}}
                                    {% endif %}
	                            </h5>
	                            <p class="text-italic">
	                            	{% if LANGUAGE_CODE == 'pl' %}
                                      {{singleproduct.desc_mini_pl}}
                                    {% elif LANGUAGE_CODE == 'en' %}
                                      {{singleproduct.desc_mini_en}}
                                    {% endif %}	                            	
	                            </p>
	                            <a href="{% trans "produkty" %}/{{singleproduct.slug}}" class="btn btn-xs btn-burnt-sienna text-bottom btn-min-width" style="font-size: 10px; margin-top:10px;">{% trans "więcej" %}</a>
	                          </div>
	                        </div>
	                      </div>
	                    </div>
	                  </div>
                  {% endfor %}                                                  
                </div>
              </div>
            </div>
          </div>
        </section>