{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% load cms_tags %}
{% block content %}
{% load i18n %}
{% block "html_headers" %}
   <title>{% block title %}{% page_attribute page_title %}{% endblock %}</title>
{% endblock %}
    <section class="section-50 section-sm-top-50 section-sm-bottom-100">
          <div class="shell">
            <div class="range range-xs-center"> 
            <div>
              <a href="#gmap">
                <h5 class="font-default text-center releway" style="float:left;">{% trans "Kliknij aby przejść do mapy dystrybutorów" %} </h5>&nbsp;
                <img style="margin-top: 0px;" src="{% static "images/mini-map.png" %}">
              </a>
            </div>                              
                  <blockquote class="section-sm-top-50 quote-default quote-default-left offset-bottom-25">
                    <div class="quote-body">
                      <div class="unit unit-xs-horizontal unit-xs-top unit-spacing-sm">
                        <div class="unit-left">
                          <svg x="0px" y="0px" width="37px" height="27px" viewbox="0 0 37 27">
                            <path d="M16.916,18.73c0,2.351-0.833,4.319-2.499,5.901C12.754,26.208,10.786,27,8.516,27  c-2.268,0-4.255-0.792-5.96-2.369c-1.703-1.582-2.552-3.477-2.552-5.679c0-2.208,1.022-4.891,3.064-8.054L9.879-0.018h6.585  l-4.202,11.471C15.365,12.847,16.916,15.275,16.916,18.73z M36.99,18.73c0,2.351-0.833,4.319-2.499,5.901  C32.828,26.208,30.86,27,28.588,27c-2.269,0-4.256-0.792-5.959-2.369c-1.702-1.582-2.555-3.477-2.555-5.679  c0-2.208,1.025-4.891,3.066-8.054l6.813-10.916h6.581l-4.197,11.471C35.437,12.847,36.99,15.275,36.99,18.73z"></path>
                          </svg>
                        </div>
                        <div class="unit-body">
                          <p>
                            <q>{% blocktrans %} Od kilkunastu lat współpracujemy z najbardziej znaczącymi dystrybutorami i hurtowaniami gastronomicznymi w kraju. Dzięki tak długoletniej, partnerskiej relacji wypracowaliśmy wspólnie bardzo korzystne warunki handlowe i cenowe dla Odbiorcy
                            finalnego, czyli Właścicieli, Menagerów punktów gastronomicznych. W przypadku zainteresowania zakupem naszych produktów
                            pomagamy przy nawiązaniu współpracy z najbardziej odpowiednim dystrybutorem, który dzięki swojej wiedzy o naszym asortymencie
                            oraz o rozbudowanych możliwościach logistycznych zaproponuje już bezpośrednio z Państwem najbardziej korzystne warunki
                            współpracy. {% endblocktrans %}</q>
                          </p>
                        </div>
                      </div>
                    </div>                    
                  </blockquote>
                  {% for distributor in distributors %}
              <div class="cell-sm-6 cell-md-4">
                <!-- Blockquote default-->
                <blockquote class="quote-modern">
                  <div class="quote-header divider-custom">
                    <div><img src="/media/{{distributor.distributor_file}}" alt="" width="104" height="104" class="img-circle"/>
                    </div>
                  </div>
                  <div class="quote-body">
                    <h6>
                      {% if LANGUAGE_CODE == 'pl' %}
                        {{ distributor.biz_name_pl }}

                      {% elif LANGUAGE_CODE == 'en' %}
                        {{ distributor.biz_name_en }}
                      {% endif %}
                    </h6>
                    <p>
                      <q>
                        {% if LANGUAGE_CODE == 'pl' %}
                          {{ distributor.street_pl }}

                        {% elif LANGUAGE_CODE == 'en' %}
                          {{ distributor.street_en }}
                        {% endif %}
                      <br> woj.
                      {% if LANGUAGE_CODE == 'pl' %}
                          {{ distributor.woj_pl }}

                        {% elif LANGUAGE_CODE == 'en' %}
                          {{ distributor.woj_en }}
                        {% endif %}
                      </q>
                    </p>
                    <cite>tel.: {{ distributor.phone }}</cite><br>
                  </div>
                  <div class="quote-footer">
                    
                    <div class="products">
                      <cite>{% trans "DOSTĘPNE PRODUKTY" %}</cite><br>
                      {% for product in distributor.products.all%}
                        <cite>&bull; <a class="link-color-gray" href="/{% trans "produkty" %}/{{product.slug}}">
                        {% if LANGUAGE_CODE == 'pl' %}
                          {{ product.name_pl }}

                        {% elif LANGUAGE_CODE == 'en' %}
                          {{ product.name_en }}
                        {% endif %}
                        </a></cite>
                      {% endfor %}
                    </div>
                    
                  </div>
                </blockquote>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
        <section>
        <a name="gmap"></a>
          <div id="map"></div>
        </section> 

        <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 505px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
        <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 52.5086149, lng: 16.7346916}
        }); 

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,            
            title: location.title
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [];
      
      {% for distributor in distributors %}
        locations.push({
          lat:{{distributor.gmapCoordynator_x}},
          lng:{{distributor.gmapCoordynator_y}},
          title: '{{ distributor.biz_name_pl }}'
          });
        
      {% endfor %}
      
      
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6lYK32bNmJg0qRrmEgCgDpdrr1Sj4IGo&callback=initMap">
    </script>
{% endblock content %}  